pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy Data1",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Prop_0": "Prop_0"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureBlob1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlob2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy Data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Copy Data1').output.executionDetails[0].status,'Failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"url": "www.bing.com",
								"method": "GET"
							}
						}
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}