ashishshadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ashishshadf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStorage1repro_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1repro'"
		},
		"AzureBlobStorageadfv2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageadfv2'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"HttpServerweb2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'HttpServerweb2'"
		},
		"linkedService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService1'"
		},
		"linkedService1repro_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'linkedService1repro'"
		},
		"AzureBlob1_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "pyscript.py"
		},
		"AzureBlob1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "adfwalkthrough/Script"
		},
		"AzureBlob2Out_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"AzureBlob2Out_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "adfwalkthrough/Script/log"
		},
		"AzureDataLakeStoreFile1_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "data.txt"
		},
		"AzureDataLakeStoreFile1_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "/ashish"
		},
		"AzureDataLakeStore1_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://ashishsh.azuredatalakestore.net/webhdfs/v1"
		},
		"AzureDataLakeStore1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"AzureDataLakeStore1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "df673442-9f03-4dfb-83a5-4c9d9501b749"
		},
		"AzureDataLakeStore1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "ashishsh"
		},
		"AzureDataLakeStore2_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://ashishsh.azuredatalakestore.net/webhdfs/v1"
		},
		"AzureDataLakeStore2_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"AzureDataLakeStore2_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "df673442-9f03-4dfb-83a5-4c9d9501b749"
		},
		"AzureDataLakeStore2_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "ashishsh"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token"
		},
		"HttpServerweb2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://graph.microsoft.com/v1.0/me/events"
		},
		"HttpServerweb2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Test01User@visinghr.onmicrosoft.com"
		},
		"linkedService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		},
		"linkedService1repro_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/visinghr.onmicrosoft.com/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=password&resource=https://graph.microsoft.com/&username=Test01User@visinghr.onmicrosoft.com&password=India@123&client_secret=%2FjeEyxiLrQ%2BT8BtDZphcs6a%2BtTSXbFEgGg2pa80vti4%3D&client_id=48be27ec-a75f-4332-90bf-3079e33eef69",
							"linkedServices": [
								{
									"referenceName": "HttpServer1",
									"type": "LinkedServiceReference"
								}
							],
							"datasets": [
								{
									"referenceName": "HttpFile1",
									"type": "DatasetReference",
									"parameters": {}
								}
							]
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://graph.microsoft.com/v1.0/me/events",
							"method": "GET",
							"headers": {
								"authorization": {
									"value": "Bearer @{activity('Web1').output.access_token}",
									"type": "Expression"
								}
							},
							"linkedServices": [
								{
									"referenceName": "HttpServer1",
									"type": "LinkedServiceReference"
								}
							],
							"datasets": [
								{
									"referenceName": "HttpFileWEB2",
									"type": "DatasetReference",
									"parameters": {}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]",
				"[concat(variables('factoryId'), '/datasets/HttpFile1')]",
				"[concat(variables('factoryId'), '/datasets/HttpFileWEB2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('AzureBlob1_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('AzureBlob1_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob2Out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('AzureBlob2Out_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('AzureBlob2Out_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoreFile1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStore1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "Byte[]"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "Decimal"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "",
						"nullValue": "NULL",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('AzureDataLakeStoreFile1_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": {
						"value": "[parameters('AzureDataLakeStoreFile1_properties_typeProperties_folderPath')]",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "PaymentApprovalID",
						"type": "Int64"
					},
					{
						"name": "HashKey",
						"type": "Byte[]"
					},
					{
						"name": "FiscalYearID",
						"type": "Int16"
					},
					{
						"name": "FiscalQuarterID",
						"type": "Int16"
					},
					{
						"name": "WageType_Code",
						"type": "String"
					},
					{
						"name": "PersonnelNumber",
						"type": "Int32"
					},
					{
						"name": "PayeeStatus",
						"type": "String"
					},
					{
						"name": "PayeeStatusDescription",
						"type": "String"
					},
					{
						"name": "CodeCurrency",
						"type": "String"
					},
					{
						"name": "PaymentCurrency",
						"type": "String"
					},
					{
						"name": "ActiveEarningsAmount",
						"type": "Decimal"
					},
					{
						"name": "TAEarningsAmount",
						"type": "Decimal"
					},
					{
						"name": "LOAEarningsAmount",
						"type": "Decimal"
					},
					{
						"name": "TotalEarnings",
						"type": "Decimal"
					},
					{
						"name": "CountryCode",
						"type": "String"
					},
					{
						"name": "NewCountryCode",
						"type": "String"
					},
					{
						"name": "CompanyCode",
						"type": "String"
					},
					{
						"name": "NewCompanyCode",
						"type": "String"
					},
					{
						"name": "ManualPaymentAdjustmentAmount",
						"type": "Decimal"
					},
					{
						"name": "PaymentRecoveryAmount",
						"type": "Decimal"
					},
					{
						"name": "PaymentAdjustmentAmount",
						"type": "Decimal"
					},
					{
						"name": "PreviousPaymentAmount",
						"type": "Decimal"
					},
					{
						"name": "NetPaymentAmount",
						"type": "Decimal"
					},
					{
						"name": "CurrencyConversionFactor",
						"type": "Double"
					},
					{
						"name": "FinalPaymentAmount",
						"type": "Decimal"
					},
					{
						"name": "IsCompliant",
						"type": "Boolean"
					},
					{
						"name": "IsLocalLawCountry",
						"type": "Boolean"
					},
					{
						"name": "IsOptOut",
						"type": "Boolean"
					},
					{
						"name": "PaymentStatusID",
						"type": "Byte"
					},
					{
						"name": "EarningsStartDate",
						"type": "DateTime"
					},
					{
						"name": "EarningsEndDate",
						"type": "DateTime"
					},
					{
						"name": "PaymentStartDate",
						"type": "DateTime"
					},
					{
						"name": "PaymentEndDate",
						"type": "DateTime"
					},
					{
						"name": "PayfileName",
						"type": "String"
					},
					{
						"name": "PayfilePath",
						"type": "String"
					},
					{
						"name": "ApprovedBy",
						"type": "String"
					},
					{
						"name": "ApprovedDateTime",
						"type": "DateTime"
					},
					{
						"name": "IsOffcycle",
						"type": "Boolean"
					},
					{
						"name": "IsFrozenForCalc",
						"type": "Boolean"
					},
					{
						"name": "IsDND",
						"type": "Boolean"
					},
					{
						"name": "Comment",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[test]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpFile1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"requestMethod": "Post",
					"additionalHeaders": "Content-Type: application/x-www-form-urlencoded",
					"requestBody": "grant_type:password\nclient_id:dd8178c3-3737-4887-8eef-62e0d20dca1d\nresource:https://graph.microsoft.com/\nusername:ashishsh@microsoft.com\npassword:Ashu$34473\nclient_secret:?!/@*X.|%--_%(j!-{6??@gH]=|=|\n"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpFileWEB2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServerweb2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "HttpFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"requestMethod": "Get"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServerweb2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1repro')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1repro_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageadfv2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageadfv2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStore1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('AzureDataLakeStore1_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('AzureDataLakeStore1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeStore1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeStore1_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStore2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('AzureDataLakeStore2_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('AzureDataLakeStore2_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('AzureDataLakeStore2_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureDataLakeStore2_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServerweb2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServerweb2_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('HttpServerweb2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('HttpServerweb2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://clustertestashish.azurehdinsight.net",
					"userName": "[parameters('linkedService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_password')]"
					},
					"isEspEnabled": false,
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedService1repro')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://ashishrepro.azurehdinsight.net",
					"userName": "[parameters('linkedService1repro_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('linkedService1repro_password')]"
					},
					"linkedServiceName": {
						"referenceName": "AzureBlobStorage1repro",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1repro')]"
			]
		}
	]
}