ashishshadf/PartialArmTemplates/ArmTemplate_11_19_2018_15_28_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ashishshadf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://graph.microsoft.com/v1.0/me/",
							"method": "POST",
							"body": "grant_type:password\nresource:https://graph.microsoft.com/\nusername:ashishsh@microsoft.com\npassword:Ashu$34473\nclient_secret:?!/@*X.|%--_%(j!-{6??@gH]=|=|\nclient_id:dd8178c3-3737-4887-8eef-62e0d20dca1d",
							"linkedServices": [
								{
									"referenceName": "AzureDataLakeStore1",
									"type": "LinkedServiceReference"
								}
							],
							"datasets": [
								{
									"referenceName": "AzureDataLakeStoreFile1",
									"type": "DatasetReference"
								}
							]
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"url": "https://graph.microsoft.com/v1.0/me/events",
							"method": "GET",
							"headers": {
								"authorization": {
									"value": "bearer @{activity('Web1').output.token}",
									"type": "Expression"
								}
							},
							"linkedServices": [
								{
									"referenceName": "AzureDataLakeStore1",
									"type": "LinkedServiceReference"
								}
							],
							"datasets": [
								{
									"referenceName": "AzureDataLakeStoreFile1",
									"type": "DatasetReference"
								}
							]
						}
					}
				]
			}
		}
	]
}