main/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://login.microsoftonline.com/visinghr.onmicrosoft.com/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=password&resource=https://graph.microsoft.com/&username=Test01User@visinghr.onmicrosoft.com&password=India@123&client_secret=%2FjeEyxiLrQ%2BT8BtDZphcs6a%2BtTSXbFEgGg2pa80vti4%3D&client_id=48be27ec-a75f-4332-90bf-3079e33eef69",
					"linkedServices": [
						{
							"referenceName": "HttpServer1",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "HttpFile1",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://graph.microsoft.com/v1.0/me/events",
					"method": "GET",
					"headers": {
						"authorization": "Bearer @{activity('Web1').output.access_token}"
					},
					"linkedServices": [
						{
							"referenceName": "HttpServerweb2",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "HttpFileWEB2",
							"type": "DatasetReference"
						}
					]
				}
			}
		]
	}
}